html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit}
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

:root {
  --font: 'Montserrat', sans-serif;
  --dark: #577F90;
  --light: #86C2AE;
  --superLight: #CEEDE2;
  --accent: #F0917A;
  --textColor: black;
}
/* UNIVERSAL STYLES */
html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
header {
  background-image: url(./assets/headerBannerCenter.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  height: 100vh; 
}
h3 {
  font: 700 2rem var(--font);
}
button {
  margin: 10px 0;
  background-color: var(--accent);
  border-radius: 5px;
  color: white;
  width: 60%;
  font: 700 1.5rem var(--font);
  padding: 3px;
  margin-right: 2px;
}
button:hover,
button:focus {
  background: var(--light);
  transition: 0.5s all;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
/* BODY */
main {
  background-color: white;
  width: 100%;
  height: max-content;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}
.mainContainer {
  display: flex;
  justify-content: space-between;
}
/* LEFT CONTAINER */
.left {
  width: 38%;
  height: 100vh;
}
.logoContainer {
  height: 50px;
  width: 50px;
  background-image: url(./assets/myLyricsButton.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  top: 35px;
}
.findLyrics,
.myLyrics {
  display: flex;
  flex-direction: column;
  border: 3px solid #577F90;
  margin: 10px 0;
  border-radius: 10px;;
  padding: 0 25px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* A) TEST YOUR KNOWLEDGE */
.findLyrics {
  height: 45%;
}
.findLyrics h3 {
  text-align: center;
}
.song,
.artist {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}
.song input,
.artist input {
  width: 80%;
}
label {
  display: flex;
  align-items: center;
  font: 700 1.5rem var(--font);
}
input {
  border: 1px solid #577F90;
  font-size: 1.5rem;
  width: 10%;
  border-radius: 5px;
  margin: 5px;
}
.info {
  height: 30%;
}
/* B) MY LYRICS CONTAINER: ERROR*/
.myLyrics {
  height: 53%;
  overflow-y: scroll;
}
.myLyrics h3 {
  border-bottom: #F0917A solid 4px;
  width: 80%;
  position: relative;
  left: 50px;
  padding-left: 10px;
  top: -25px;
}
.allSavedSongs button {
  background-color: #86C2AE;
}
.savedSongs {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
}
.savedSongs button {
  background-color: var(--superLight);
  border-color: var(--light);
  border-radius: 5px;
  color: var(--textColor);
  font: 400 1.4rem var(--font);
  text-align: left;
  margin: 2px 0;
  width: 90%;
}
.savedSongs button:hover,
.savedSongs button:focus {
  background-color: var(--light);
  color: white;
  transition: .5s background;
}
/* Garbage can icon */
.savedSongs button:nth-of-type(2n+2){
  border-style: none;
  background-color: white;
  background-image: url(./assets/garbageBin.png);
  background-size: 20px 20px;
  background-position: right;
  background-repeat: no-repeat;
  width: 10%;
}
.savedSongs button:nth-of-type(2n+2):hover,
.savedSongs button:nth-of-type(2n+2):focus{
  background-size: 25px 25px;
  transition: 0.5s all;
}

/* RIGHT SECTION */
.right {
  width: 58%;
  height: 100%;
}
.lyrics {
  margin: 10px 0;
  border: solid 5px var(--dark);
  border-radius: 10px;
  background: var(--superLight);
  padding: 15px;
  height: 100vh;
  overflow-y: scroll;
}
/* Lyrics Textarea */
.lyricsContainer {
  resize: none;
  font-size: 1.5rem;
}
/* Loading Spinner  */
.spinner {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #577F90; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--dark);
  border-top: 8px solid var(--light);
  margin-top: 40px;
  font-size: 1.5rem;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover,
a:focus {
  color: yellow;
}
/* Sweet Modal */
.swal-button {
    width: 120px;
  }
.swal-button:hover, 
.swal-button:focus {
    background: #78cbf2;
  };

/* TABLET MEDIA QUERY */
@media (max-width: 800px) {
  .wrapper {
    width: 85%;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  .myLyrics {
    height: auto;
    padding-bottom: 3.5rem;
  }

  .myLyrics h3 {
    width: 90%;
  }
  .right {
    width: 100%;
  }
  .lyrics {
    padding: 4rem;
    font-size: 1.6rem;
    line-height: 2.9rem;
  }
  .lyrics input {
    width: auto;
  }
}

/* CELL PHONE MEDIA QUERY: 500PX */
@media (max-width: 500px){
  .myLyrics h3 {
    width: 85%;
  }

/* CELL PHONE MEDIA QUERY: 500PX */

@media (max-width: 500px){

  .myLyrics h3 {
    width: 85%;
  }

  .lyrics {
    padding: 3rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
    overflow-y: scroll;
    height: 100vh;
  }
  .lyrics input {
    width: 50%;
  }
}

/* Sweet Modal */

.swal-button {
    width: 120px;
  }

.swal-button:hover, 
.swal-button:focus {
    background: #78cbf2;
}
}